 .centered-form {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 77vh;
     border: 5px solid black;
     border-radius: 20px;
     width: 500px;
     height: 500px;
     padding: 10px;
     background-image: url(istockphoto.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     font-size: 21px;
     font-weight: bold;
     margin-left: auto;
     margin-right: auto;
     opacity: 0.85;
     box-shadow: 4px 6px 2px rgb(106, 120, 124);
 }
 .link-spacing {
     margin-right: 10px;
     /* Adjust the value as needed */
 }
 .center-form {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     border: 5px solid black;
     border-radius: 20px;
     width: 500px;
     height: 250px;
     padding: 10px;
     background-image: url(pexels-tira733852.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     font-size: 21px;
     font-weight: bold;
     margin-left: auto;
     margin-right: auto;
     opacity: 0.95;
     box-shadow: 4px 6px 2px rgb(106, 120, 124);
 }